<!DOCTYPE>
<html lang = "en" ng-app = "raioraApp">
  <head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <!-- Angular -->
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4vScOkoC_OiEOr4TOvrG4bLjzqI_OL4c"
    async defer></script>
    <!-- Kandy -->
    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.6.0/kandy.js" ></script>

    <script src = "js/bootstrap.js"></script>
    <link rel = "stylesheet" href = "css/style.css">
  </head>

  <body ng-controller = "MainCtrl">
    <div class = "container-fluid">
      <!-- header -->

      <div class="page-header">
        <img src="images/logo.png" alt="logo" />
      </div><!-- Header -->

      <h1>{{message}}</h1>

      <div class="row table-row">
        <!-- Side Menu -->
        <div class="col-md-2 ">
          <div class = "col-md-12" id = "sideMenu">
            <h2>Management Console</h2>
            <div class = "col-md-12">
              <ul class = "list-group">
                <li class = "list-group-item"><a href = "#"/><img src="images/dashIcon.png" alt="Dash Icon" />DASHBOARD</a></li>
                <li class = "list-group-item"><a href = "#/chat"><img src="images/chatIcon.png" alt="Chat Icon" />CALLS/CHATS</a></li>
                <li class = "list-group-item"><a href = "#/map"><img src="images/chatIcon.png" alt="Statistics Icon" />STATISTICS</a></li>
              </ul>
            </div>
          </div>
        </div><!-- Side Menu -->
        <div ng-view class = "col-md-10">
        </div>


      </div>

    </div><!-- Container -->


    <script src = "js/app.js"></script>
    <script src = 'js/controllers.js'></script>
    <script src = 'js/services.js'></script>
  </body>
</html>
