<!DOCTYPE html>
<html ng-app = "raioraApp">
<head>
</head>
<style>
  @font-face {
      font-family: BebasNeue;
      src: url('../fonts/BebasNeue.otf');
  }
  @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-MediumItalic.ttf");
  }
  html, body{
    padding: 0;
    marginL 0;
  }
  #container{
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url('images/mapbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .logo{ margin-bottom: 70px;}
  #login{
    width: 342px;
    height: 455px;
    position: absolute;
    top:0;
    bottom:  0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .input {
    font-family: BebasNeue;
    font-size: 20pt;


    width: 90%;
    border: 0;
    border-bottom: 1px solid #b3b3b3;
    background-color: transparent;
    margin-bottom: 35px;
  }
  #login a {
    font-family: Roboto;
    text-decoration: none;
    color: #A70000;
    margin-right: 16px;
  }
  .button{
    width: 120px;
    height: 39px;
    border: none;
    background-color: #A70000;
    color: white;
    font-family: BebasNeue;

    font-weight: bold;
    font-size: 17pt;

  }
  .tagline{
    color: #b3b3b3;
    font-family: Roboto;
    font-size: italic;
    font-size: 24px;
    margin: auto;
    padding-top: 84vh;
  }
</style>
<!-- Angular -->
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<!-- Kandy -->
<script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.6.0/kandy.js" ></script>
<body ng-controller = "LoginCtrl">
    <div id ="container">
      <div id = "login">
        <img class = "logo" src = "images/logo.png"/>

          <input class = "input" ng-model = "user.userName" type = "text" placeholder = "USERNAME"></input></br>
          <input class = "input" ng-model = "user.password" type = "password" placeholder = "PASSWORD"></input>

        <a href = "#/home.html">Create Account or</a>
        <button class = "button" ng-click ="login(user)">Login</button>

      </div>

  </div>

</body>
<script src = "js/app.js"></script>
<script src = 'js/services.js'></script>
<script src = 'js/controllers.js'></script>


</html>
