<style>
  #remoteContainer{
    display: inline-block;
    border: 2px solid white;
    width:600px;
    height: 400px
  }
  #localContainer{
    display: inline-block;
    border: 2px solid white;
    width:300px;
    height: 300px
  }
</style>

<div class="col-md-3" >
  <div class="col-md-12" id = "chat">
    <h2><img src="images/phoneIcon.png" alt="Chat Icon"/>Dialer</h2>
  <p>
  <label for = "callee">Callee (user Id)</label>
  <input class = "form-control" type="text" ng-model = "callee"></input>
  </p>
  <!--callee phone number for PSTN call-->
  <p>
  <label for = "calleeNumber">Callee Phone number (only for PSTN call)</label>
  <input class = "form-control" type="text" ng-model = "calleeNumber"></input>
  </p>
  <!--caller user id-->
  <p>
  <label for = "callerID">[OPTIONAL] Caller Phone number (only for PSTN call)</label>
  <input class = "form-control" type="text" ng-model = "callerID"></input>
  </p>



  <p>
    <button class = "btn" ng-click = "makeCall(callee)">Make Call (user Id)</button>
    <button class = "btn" ng-click = "makePSTNCall(calleeNumber,callerID)">Make Call (phonenumber)</button>
  </p>


    <p>
    <button class = "btn" ng-click = "acceptCall(callId)">Accept Call</button>
      <button class = "btn" ng-click = "declineCall(callId)">Decline Call</button>
    </p>
    <p>
    <button class = "btn" ng-click = "toggleMute()">Mute/unMute Call</button>
    <button class = "btn" ng-click = "toggleHold()">Hold/unHold</button>
    <button class = "btn" ng-click = "endCall(callId)">End Call</button>
  </p>
</div>
</div>

<div class="col-md-3" >
  <div class="col-md-12" id = "chat">
    <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Remote Video</h2>
<div id = "remoteContainer"></div>
  </div>
  <div class="col-md-12" id = "chat">
    <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Local Video</h2>
<div id = "localContainer"></div>
  </div>
</div>
