<div class="col-md-3">
  <div class = "col-md-12" id ="groups">

  </div>

    <div id="create-group-div">
      <h2><img src="images/addUserIcon.png" alt="Chat Icon"/>Add a Group</h2>
<form class = "form-horizontal" id="create-group-form">
  <div>
      <p>
          Group Name: <input type="text" id="create-group-name" ng-model="groupName"/>
      <input type="button" value="Create " ng-click="CreateGroup(groupName)"/>
        </p>
    </div>
</form>
</div>
</div>
<div class="col-md-3" >
  <div class="col-md-12" id = "chat">
    <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Send direct message</h2>
    Recipient: <input type="text" id="recipient" ng-model ="messageRecipient"/>
    <form class = "form-horizontal">
      <div class = "form-group">
        <p>Enter chat message: </p>
        <textarea class = "form-control" name = "messageTo" cols = "40" ng-model = "messageString"></textarea>
        <br/>
        <br/>
        <button class ="btn" ng-click="sendMessage(messageRecipient,messageString)">Send</button>
      </div>
    </form>
  </div>
</div>

  <div class="col-md-6">
  <div id = "globalMessage" class = "col-md-12">
      <div>
        <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Group messaging Channel</h2>
        <div>
      Group ID: <select id="chat-group-id" ng-model ="groupMessageID">
        <option ng-repeat = "group in createdGroups"  value="{{group.group_id}}" ng-model="chatGroupName">
          {{group.group_name}}

        </option>
      </select>
    </div>
  <div id="chat-messages" style="overflow-y: scroll; height:200px;">


  <div>
    <p>
    Message: <input type="text" id="chat-messages" ng-model = "groupMessageString"/>
    <input type="button" value="Send" ng-click="sendGroupMessage(groupMessageID,groupMessageString)"/>
  </p>

  </div>
  </div>
    </div>
<!--second row-->
    <div>
      <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Group Feed</h2>
      <div id="groupchat-messages">

      </div>

    </div>

  </div>
</div>
