<div class="col-md-3">
  <div class = "col-md-12" id ="contacts">
    <h2><img src="images/personAddressBookIcon.png" alt="Chat Icon"/>Manage Contacts
      <!--<button class = "btn" ng-click = "newContact()">+</button>-->
    </h2>
    <button ng-click ="getAddressBook()">get contacts</button>
    <ul class = "list-group">
      <li class = "list-group-item" ng-repeat = "contact in contacts">
        <p>{{contact.firstName}}</p>
        <p>{{contact.lastName}}</p>
        <p>{{contact.phonenumber}}</p>
      </li>

    </ul>
  </div>
  <div class="col-md-3" >
    <div class="col-md-12" id = "add-contacts-div">
<!--  <div ng-show = "addingContact" id="add-contacts-div" style = "position:absolute;">-->
    <h2><img src="images/addUserIcon.png" alt="Add User Icon"/>Add a contact</h2>

    <form role = "form" class = "form-horizontal" id="add-contact-form">
        <div class = "form-group">
         <label>Username: <input type="text" id="username"/></label>
         <label>First Name: <input type="text" id="firstName"/></label>
         <label>Last Name: <input type="text" id="lastName" /></label>
         <label>Phone number (format:12345678900): <input type="text" id="phonenumber"/></p>
         </label>
         <input type="button" value="Add Contact" ng-click="addContact()"/></p>
       </div>
     </form>
  <!--</div>-->
</div>
</div>
<!-- Contacts -->
<!--
<div class="col-md-3" >
  <div class="col-md-12" id = "chat">
    <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Send direct message</h2>
    Recipient: <input type="text" id="recipient" ng-model ="messageRecipient"/>
    <form class = "form-horizontal">
      <div class = "form-group">
        <textarea class = "form-control" name = "messageTo" cols = "40" ng-model = "messageString"></textarea>
        <button class ="btn" ng-click="sendMessage(messageRecipient,messageString)">Send</button>
      </div>
    </form>
  </div>

</div>

<div class="col-md-6">
  <div id = "globalMessage" class = "col-md-12">
      <div>
        <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Global messaging Channel</h2>
          <form class = "form-horizontal">
            <div class = "form-group">
              Group ID: <select id="group-info" ng-model ="groupMessageID">
                <option ng-repeat = "group in userGroups"  value="{{group.group_id}}" ng-model="chatGroupName">
                  {{group.group_name}}
                </option>
              </select>
              <textarea class = "form-control" name = "messageTo" cols = "40"></textarea>
              <button class ="btn">Send</button>
            </div>
          </form>
      </div>
    </div>
    <div>
      <h2><img src="images/chatIcon.png" alt="Chat Icon"/>Global Feed</h2>
      <div id="groupchat-messages">

      </div>

    </div>
  </div>
-->
</div>
