<style>
  #map {
    display: block;
    width: 100%;
    height: 800px;
  }
</style>
<h1>Welcome Home!</h1>
<p>{{message}}</p>
<div id="map"></div>
<button class = "btn"ng-click = "sendDistressSignal()">Help!</button>
