<div class = "container-fluid">
  <!-- header -->

  <div class="page-header">
    <img src="images/logo.png" alt="logo" />
  </div><!-- Header -->

  <h1>{{message}}</h1>

  <div class="row table-row">
    <!-- Side Menu -->
    <div class="col-md-2 ">
      <div class = "col-md-12" id = "sideMenu">
        <h2>Management Console</h2>
        <div class = "col-md-12">
          <ul class = "list-group">
            <li class = "list-group-item"><a ui-sref = ".home"><img src="images/dashIcon.png" alt="Dash Icon" />DASHBOARD</a></li>
            <li class = "list-group-item"><a ui-sref = ".chats"><img src="images/chatIcon.png" alt="Chat Icon" />CHATS</a></li>
            <li class = "list-group-item"><a ui-sref = ".calls"><img src="images/chatIcon.png" alt="Chat Icon" />CALLS</a></li>
            <li class = "list-group-item"><a ui-sref = ".stats"><img src="images/chatIcon.png" alt="Statistics Icon" />STATISTICS</a></li>

          </ul>
        </div>
      </div>
    </div><!-- Side Menu -->
    <div ui-view class = "col-md-10">
    </div>


  </div>

</div><!-- Container -->
