@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue.otf');
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
html{
  margin: 0;
  padding: 0;
  background-image: url('../images/mapbg.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}
body{
  margin: 0;
  padding: 0;
  background: none;
}
.page-header{
  background-color: #F7F7F7;
  margin-top: 0;
}
p {
  font-family: Roboto;
}
.page-header img{
  margin-left: 10%;
  padding-top: 20px;
  width:146px;
}
h1{
  font-family: BebasNeue;
}

h2{
  font-family: BebasNeue;
}
#sideMenu{background-color: #F7F7F7; height: 400px;}
#sideMenu .list-group-item{border: none; border-top: 1px dashed grey; background-color: transparent;}
#sideMenu .list-group-item a {font-size: 14;font-weight: bold; text-decoration: none; color: #999999}
#contacts .list-group-item{border: none; border-top: 1px dashed grey; background-color: transparent;}
#contacts .list-group-item a {font-size: 14;font-weight: bold; text-decoration: none; color: #999999}
#contacts .list-group-item a .active{color: #4D4D4D }
#chat{background-color: #F7F7F7; height: 500px;}
#chat .to{text-align: right;}
#chat .from{text-align: left; font-weight: bold;}
#chat textarea {background: #E6E6E6; border: none; border-radius: 0}
#chat .form-horizontal {bottom: 0;}
#contacts{background-color: #F7F7F7; height: 500px;}
#globalMessage{ height: 500px;}
#globalMessage div {background-color: #F7F7F7;}
#globalMessage h2 {border-bottom: 3px dashed gray; }
#globalMessage textarea {background: #E6E6E6; border: none; border-radius: 0}
#add-contact-form {position: absolute;}
.btn {
    border-radius: 0;
    background-color: #A70000;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}



/*Utility styles */

@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
.table-row [class^="col-"]{
   display: table-cell;
   float: none;
 }
